/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* Variables */
:root {
  --dark-blue: hsl(233deg, 47%, 7%);
  --saturated-blue: hsl(244deg, 38%, 17%);
  --soft-violet: hsl(277deg, 64%, 61%);
  --light-clr: hsl(0deg, 0%, 100%);
  --light-opacity1: hsl(0deg, 0%, 100%, 0.75);
  --light-opacity2: hsl(0deg, 0%, 100%, 0.6);
  --radius: 8px;
}

html {
  font-family: "Inter", "Lexend Deca", sans-serif;
  font-size: 10px;
  line-height: 1.5;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.5rem;
  background-color: var(--dark-blue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

h1,
h2,
h3,
h4 {
  font-family: "Inter";
  font-weight: 700;
}

ul[class] {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* PREVIEW CARD */
.card {
  width: 80%;
  max-width: 1440px;
  margin: auto;
  background-color: var(--saturated-blue);
  border-radius: var(--radius);
}

.card-image {
  background-image: url("../img/image-header-mobile.jpg");
  background-color: var(--soft-violet);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 23rem;
  mix-blend-mode: lighten;
  background-blend-mode: hard-light;
  filter: brightness(90%);
}